/* navbar style */
 .navbar-brand{
   font-size: 40px;
}  

.navbar a:hover{
  color:rgb(236, 236, 25)
}
.navbar-brand{
  margin-left: 30px;
} 
.navbar-nav{
 margin-left: 50px;
}
.nav-link{
  font-size: 20px;
}
/* .nav-item{
  margin-right: 40px;
} */
/* .menu_active{
  font-weight: bold;
  border-bottom: 1px solid rgb(237, 9, 9);
} */
.navbar-nav {
  margin-left: auto;
}
#carouselExampleControls{
  width: 705px;
  height: 470px
} 
 .d-block{
  width: 705px;
  height: 470px
}   
.btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  color: rgb(25, 114, 114);
  border: 2px solid rgb(103, 5, 81);
  text-decoration: none;
}
.btn-get-started:hover{
  background: rgb(2, 47, 57);
  color: aliceblue;
}
 /* footer style */
#footer{
background-color: rgb(21, 21, 21);
}
.content{
  color: aliceblue;
}

/* horizontal scroll */
/* .horizontal-scrollable{
  max-height: 120px;
  border: 1px solid black;
  display: flex;
  overflow-x: auto;
}
.horizontal-scrollable .item{
  width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: aqua;
} */
